$border:1px solid #DBDBDB;
%btn{
    width:46px;
    height:25px;
    text-align:center;
    line-height:25px;
    background-color: #F7661F;
    border-radius:2px;
    color:#fff;
}
#contTips{
    background-color: #F0F0F0;
    .container{
        padding:0px;
        %comon{
            display:line-block;
            height:29px;
            line-height:29px; 
        }
        a{
            @extend %comon;
            color:#777777;
            margin-right:5px;
        };
        span{
            @extend %comon;
            color:#333333;
        };
    }   
}
#main{
    %page{
        height:39px;
        color:#B3B3B3;
        padding:8px 10px 0px;
        i{
            width:60px;
            height:24px;
            line-height:24px;
            text-align:center;
            border:$border;
            padding:5px;
        }
   
    }
    .container{
        padding:0px;
        padding-top:5px;
    }
    .aside{
        width:179px;
        height:1256px;
        .listBox{
            border:1px solid #F3CE76;
            >li{
                height:31px;
                overflow:hidden;
                font-size:14px;
                background-color: #FFDC93;
                line-height:30px;
                color:#845400;
                border-bottom:1px solid #F3CE76;
                position:relative;
                &:first-child{
                    height:168px;
                }
                >i{
                    display:block;
                    margin-right:10px;
                    font-size:12px;
                    position:absolute;
                    top:8px;
                    left:10px;
                }
                a{
                    margin-left:30px;
                }
                .lists{
                    padding:6px 20px;
                    background-color: #FFFFF2;
                    >li{
                        border:0 none;
                        line-height:24px;
                    }
                }
            }
        }
        .hotList{
            margin:10px 0px;
            border:$border;
            h3{
                height:30px;
                line-height:30px;
                border-bottom:$border;
                padding-left:10px;
            }
            >div{
                height:93px;
                border-bottom:$border;
                padding-top:16px;
                padding-left:9px;
                >img{
                    float:left;
                    width:60px;
                    height:45px;
                    margin-right:10px;
                }
                p{
                    strong{
                        margin-right:2px;
                    }
                    padding-left:6px;
                    height:34px;
                    line-height:17px;
                    overflow:hidden;
                }
                span{
                    font-weight:bold;
                    display:block;
                    height:20px;
                    line-height:20px;
                    color:#FF6600;
                }
            }        
        }
        .vote{
            $padding:0px 10px;
            border:$border;
            background-color: #EEEEEE;
            %upDown{
                height:42px;
                line-height:42px;
                padding:$padding;
            }
            h4{
                @extend %upDown;
            }
            p{
                background-color: #fff;
                height:40px;
                line-height:20px;
                padding:$padding;
            }
            li{
                height:34px;
                line-height:34px;
                padding:$padding;
                input{
                    margin-right:10px;
                    margin-top:-2px;
                }
                &:nth-child(even){
                    background-color: #fff;
                }
                &:nth-child(odd){
                    background-color: #F2F2F2;
                }
            }
            div{
               @extend %upDown;
               button{
                    @extend %btn;
                    margin:8px 14px 0px 30px;
               }
            }
        }
    }
    .mainList{
        width:1010px;
        .listTitle{
            border:$border;
            h4{
                height:30px;
                line-height:30px;
                background-color: #EDF3FA;
                padding-left:22px;
            }
            ul{
                height:84px;
                li{
                    padding-left:51px;
                    border-top:$border;
                    overflow:hidden;
                    label{
                        float:left;
                    }
                    div{
                        float:left;
                        margin:0px 24px;
                    }
                
                    &:first-child{ 
                        height:37px;
                        %height{
                            height:37px;
                            line-height:37px;
                        }
                        label{
                            @extend %height;
                        }
                        >div{               
                            @extend %height;
                           a{
                                display:block;
                                @extend %height;
                           }
                           span{
                                color:#D5CCD5;
                           }
                        }
                    }
                    &:last-child{
                        height:46px;
                        %h{
                            height:46px;
                            line-height:46px;
                        }
                        label{
                            @extend %h;
                        }
                        >div{               
                            @extend %h;
                           a{
                                display:block;
                                @extend %h;
                           }
                           span{
                                color:#D5CCD5;
                           }
                        }
                        .otherPrice{
                            input{
                                text-align:center;
                                height:25px;
                                width:44px;
                                border:$border;
                                margin:0px 4px;
                            }
                            button{
                                @extend %btn;
                            }
                        }
                    }
                }
            }
        }
        .goodsFilter{
            border:$border;
            .inserT{
                height:38px;
                overflow:hidden;
                border-bottom:$border;
                p{
                    float:left;
                    a{
                        padding:0px 25px 0px 12px;
                        float:left;
                        height:38px;
                        line-height:38px;
                        text-align:center;
                        position:relative;
                        border-right:$border;
                        i{
                            position:absolute;
                            right:10px;
                            top:14px;
                        }
                        .glyphicon-th-large{
                            font-size:16px;
                            color:#999999;
                            margin-top:-1px;
                        }
                        .glyphicon-list-alt{
                            font-size:16px;
                            color:#999999;
                        }
                        &:nth-last-child(-n+3){
                            padding:0px 12px;
                        }
                    }
                }
                .default{
                    float:right;
                    height:38px;
                    padding-left:8px;
                    border-right:$border;
                    input{
                        width:202px;
                        height:26px;
                        border:$border;
                        margin-top:6px;
                        padding-left:5px;
                        float:left;
                    }
                    button{
                        @extend %btn;
                        margin:6px 5px 0px;
                        float:left;
                    }
                }
            }
            .inserB{
                height:39px;
                border-bottom:$border;
                label{
                    margin:13px 8px 0px;
                    font-weight:normal;
                    input{
                        margin-right:5px;
                        margin-top:-2px;
                    }
                }
                .page{
                    @extend %page;
                }
                
            }
            .contrastGoods{
                width:1008px;
                height:40px;
                overflow:hidden;
                h4{
                    width:68px;
                    float:left;
                    height:40px;
                    line-height:40px;
                    text-align:center;
                    border-right:$border;
                }
                li{
                    width:42px;
                    float:left;
                    height:40px;
                    font-size:30px;
                    font-weight:bold;
                    text-align:center;
                    line-height:40px;
                    color:#E5E6EB;
                    border-right:$border;
                }
                button{
                    @extend %btn;
                    margin:8px 6px;
                }
                a{
                    color:#003399;
                }
                &.scrollT{
                    background-color:#fff;
                    position:fixed;
                    top:0;
                    border:1px solid #DBDBDB;
                    z-index:5;
                }
                img.notPos{
                    position:static;
                    top:0;
                    left:0;
                    margin-top:-2px;
                }
            }
        }
        .goods{
            padding-top:40px;
            .noGoods{
                height:30px;
                line-height:30px;
                font-size:12px;
                position:absolute;
                top:120%;
                left:50%;
            }
            ul{
                overflow:hidden;
                height:1464px;
                li{
                    float:left;
                    width:250px;
                    height:360px;
                    padding:0px 15px;
                    img{
                        margin-top:20px;
                        width:180px;
                        height:135px;
                    }
                    .seven{
                        width:30px;
                        height:36px;
                        position:relative;
                        overflow:hidden;
                        i{
                            width:198px;
                            height:458px;
                            display:block;
                            background: url('../img/pro_l_9V1.png') no-repeat;
                            position:absolute;
                            top:-276px;
                            left:-67px;
                        }
                    }
                    
                    .cont{
                        height:34px;
                        overflow:hidden;
                        a{
                            color:#666666;
                            line-height:16px;
                        }
                    }
                    .other{
                        display:block;
                        height:18px;
                        margin:5px 0px;
                        line-height:18px;
                        color:#84984F;
                    }
                    .hits{
                        height:12px;
                        overflow:hidden;
                        position:relative;
                        img{
                            width:60px;
                            position:absolute;
                            top:-20px;
                            left:0px;
                        }
                    }
                    .price{
                        height:20px;
                        font-size:16px;
                        line-height:20px;
                        font-weight:bold;
                        color:#FF7D00;
                        span{
                            font-size:12px;
                            color:#CCCCCC;
                            margin-right:5px;
                            font-weight:normal;
                            text-decoration:line-through;
                        }
                    }
                    .click{
                        height:49px;
                        overflow:hidden;
                        padding:12px 20px;
                        a{
                            float:left;
                            @extend %btn;
                            margin:0px 2px;
                            background-color: #fff;
                            color:#333;
                            border:$border;
                            text-decoration:none;
                            &:first-child{
                                background-color: #F7661F;
                                color:#fff;
                                &:hover{
                                    color:#000;
                                    background-color: #FFF0D9;
                                }
                            }
                            &:hover{
                                border-color:#F9F9F9;
                            }
                        }
                    }
                }
            }
            .page{
                @extend %page;
                color:#333;
                i{
                    &:last-child{
                        background-color: #ccc;
                    }
                }
                s{
                    display:inline-block;
                    margin:0px 5px;
                }
                input{
                    width:60px;
                    height:24px;
                    line-height:24px;
                    text-align:center;
                    border:$border;
                    padding:5px;
                }
                button{
                    @extend %btn;
                }
            }
        }
    }
}